.centered{
    margin-left: 50%;
    transform: translateX(-50%);
}
.float-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.float-top-left{
    position: absolute;
    top: 0;
    left: 0;
}
.float-top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.float-bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.float-bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}
.cover-btn{
    font-size: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: 2px 2px 10px black;
    animation: change-colors 1s infinite linear;
}
.cover-btn:hover{
    color: black;
    animation: none;
}
.cover-btn:active{
    box-shadow: 1px 1px 5px black;
}
.flex{
    display: flex;
}
.relative{
    position: relative;
}
.round-btn{
    width: 100px;
    height: 100px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    color: white;
    border: 3px solid lightgray;
    background-color: rgb(81, 185, 81);
    box-shadow: 2px 2px 10px gray;
}
.round-btn:hover{
    border: 1px solid dodgerblue;
}
.talking-border{
    animation: talking-border-colors 1s infinite linear;
}
.contents-container{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 30%;
    transform: translateX(-76%);
}
.contents{
    height: 20vh;
    margin: 20px;
    font-size: 25px;
    overflow-y: auto;
    background-color: rgb(252, 249, 212);/*rgb(252, 249, 212)*/
    box-shadow: 2px 2px 10px rgb(202, 199, 162);
}
.status-result-container{
    display: flex;
    margin: 20px;
    margin-top: 90px;
    padding: 20px;
    font-weight: bold;
    user-select: none;
    box-shadow: 2px 2px 10px rgb(112, 64, 2);
    background-color: rgb(252, 249, 212);
}
.read-page{
    position: relative;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(../images/read-page.png);
}

@keyframes talking-border-colors {
    0%{
        border-color: purple;
    }
    50%{
        border-color: blue;
    }
    100%{
        border-color: green;
    }
}

@keyframes change-colors {
    0%{
        background-color: red;
    }
    50%{
        background-color: green;
    }
    100%{
        background-color: blue;
    }
}